@import '../../../../../_variables.scss';


span.cv-indicator{
  border-radius: 50%;
  background-color: lightgray;
  width: 0.75rem;
  height: 0.75rem;
  display: inline-block;
  
  #cv-tooltip {
    visibility: hidden;
    position: absolute;
    word-wrap: break-word;
    background-color: $color-white;
    text-align: center;
    min-width: 175px;
    box-shadow: 0 0 10px 5px rgba(192, 192, 192, 0.2);
    z-index: 1;
    font-size: 13px;
    padding: 20px;
    margin: -37px 0 0 20px;
    border-radius: 5px;
    color: $color-dim-gray;
  
    @media only screen and (max-width: 768px){
      font-size: 10px;
    }
  }
  
  &:hover #cv-tooltip {
    visibility: visible;
  }
}
