<footer class="navbar-padding">
  <div class="row py-5 px-sm-3 px-md-0 footer">
    <div class="col-md-3 my-auto app-info">
      <span>JTI</span> CAREER
    </div>

    <div class="col">
      <div class="copyright mt-2 mt-sm-2 mt-md-0">
        JASA TEKNOLOGI INFORMASI <span>IBM</span>
      </div>
      <div class="copyright-detail mt-md-1">
        Copyright &copy; PT. Jasa Teknologi Informasi IBM {{ year }}. All Rights Reserved
      </div>
    </div>

    <div class="col-md-3 mt-2 mt-sm-2 my-md-auto">
      <div class="float-md-right">
        <a href="mailto:{{email}}" class="ml-sm-0 mr-sm-1 mx-md-1">
          <img src="../../../assets/images/ic_email.svg" height="20" width="20">
        </a>
        <a href="{{ fbURL }}" target="_blank" class="ml-sm-0 mr-sm-1 mx-md-1">
          <img src="../../../assets/images/ic_facebook.svg" height="20" width="20">
        </a>
        <a href="{{ igURL }}" target="_blank" class="mx-1">
          <img src="../../../assets/images/ic_instagram.svg" height="20" width="20">
        </a>
        <!-- <a href="{{ ytURL }}" target="_blank" class="mx-1">
          <img src="../../../assets/images/ic_youtube.svg" height="20" width="20">
        </a> -->
        <a href="{{ liURL }}" target="_blank" class="mx-1">
          <img src="../../../assets/images/ic_linkedin.svg" height="20" width="20">
        </a>
      </div>
    </div>
  </div>
</footer>
