<div class="dialog-wrapper">
  <div class="row close-img">
    <img src="assets/images/ic_close.svg" id="close" (click)="close(false)">
  </div>
  <div class="row">
      <div class="col-md-10 offset-md-1 img-margin">
        <img src="assets/images/login.png">
      </div>
    <span class="col-md-12 dialog-title">Create Password</span>
    <span class="col-md-10 offset-md-1 dialog-subtitle dialog-subtitle-margin" id="desc">
      to access your account and data later
    </span>

    <form (keydown.enter)="$event.preventDefault()" [formGroup]="createPasswordForm" (ngSubmit)="onSubmit()" class="col-md-10 offset-md-1">
      <div class="row" id="inputPassword">
        <input [type]="isPasswordVisible.password ? 'text' : 'password'" class="col-10 form-control form-control-lg form-control-borderless" formControlName="password" placeholder="Password">
        <div class="col-2 pass-visible-img">
          <img [src]="isPasswordVisible.password ? 'assets/images/ic_visibility.svg' : 'assets/images/ic_visibility_hidden.svg'"
            (click)="showPassword('password')">
        </div>
      </div>
      <div class="row" id="inputPassword">
        <input [type]="isPasswordVisible.confirmPassword ? 'text' : 'password'" class="col-10 form-control form-control-lg form-control-borderless" formControlName="confirmPassword" placeholder="Confirm Password">
        <div class="col-2 pass-visible-img">
          <img [src]="isPasswordVisible.confirmPassword ? 'assets/images/ic_visibility.svg' : 'assets/images/ic_visibility_hidden.svg'"
            (click)="showPassword('confirmPassword')">
        </div>
      </div>
      <button class="col-md-12" [ngClass]="{
          'enable-button': createPasswordForm.valid ,
          'disable-button': createPasswordForm.invalid}"
        [disabled]="createPasswordForm.invalid" type="submit">Next</button>
      <ng-container *ngIf="createPasswordForm.invalid && createPasswordForm.errors !== null">
        <mat-error *ngIf="createPasswordForm.errors.notSame">Password not match</mat-error>
      </ng-container>
    </form>
  </div>
</div>
