@import '../../../../../variables';

.reject-wrapper {
  // background-image: url('/src/assets/images/bg_dialog.svg');
  background-image: url('https://jti-career-dev.mybluemix.net/assets/images/bg_dialog.svg');
  background-repeat: no-repeat;
  background-size: 105%;
  background-position-x: -10px;
  background-position-y: -10px;
}

.button-custom {
  font-family: $font-regular;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  padding: 10px;
  text-align: center;
  color: $color-white;
}

.dialog-subtitle {

  span {
    font-family: $font-bold;
  }
}