@import '../../../../../../variables';

#calender-container {
    background-color: $color-dark-slate-gray-v3;
}

#calender-month-year {
    color: $color-white;
    font-family: $font-medium;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    @media screen and (max-width: 768px){
        font-size: 16px;
    }
    @media screen and (max-width: 425px){
        font-size: 16px;
    }
}

#calender-change {
    cursor: pointer;
    text-align: center;
}

.calender-weekday {
    color: $color-white;
    font-family: $font-medium;
    font-weight: bold;
    font-size: 19px;
    opacity: 0.6;
    text-align: center;
    @media screen and (max-width: 768px){
        font-size: 15px;
    }
    @media screen and (max-width: 425px){
        font-size: 15px;
    }
}

.calender-weekend {
    color: $color-dark-slate-gray;
    font-family: $font-medium;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    @media screen and (max-width: 768px){
        font-size: 15px;
    }
    @media screen and (max-width: 425px){
        font-size: 15px;
    }
}

.calender-day {
    display: inline-block;
    font-family: $font-regular;
    font-size: 19px;
    text-align: center;
    width: calc(100%/7);
    padding-top: 0.75rem;
    padding-bottom:0.75rem;
    @media screen and (max-width: 768px){
        font-size: 15px;
        padding-top: 0px;
        padding-bottom:0px;
    }
    @media screen and (max-width: 425px){
        
    }
}

.calendar-day-padding{
    padding: 1rem;
    @media screen and (max-width: 768px){
        padding: 16px;
    }
    @media screen and (max-width: 425px){
        
    }
}

.color-weekday {
    color: $color-white;
}

.color-weekend {
    color: $color-dark-slate-gray;
}

.circle-active:hover {
    background: url(../../../../../../assets/images/ic_selected_date.svg);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center;
    cursor: pointer;
    min-height: 40px;
}

.circle-active {
    cursor: pointer;
    min-height: 40px;
}

.tes {
    background: url(../../../../../../assets/images/ic_selected_date.svg);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center;
    cursor: pointer;
    min-height: 40px;
    @media screen and (max-width: 768px){
        background-size: 30px 25px;
        min-height: 30px;
    }
    @media screen and (max-width: 425px){
        font-size: 15px;
    }
}

.bullet-active {
    background-color: $color-steel-blue-v2;
    border-radius: 50%;
    height: 7px;
    width: 7px;
}

.bullet-inactive {
    background-color: $color-dark-slate-gray-v3;;
    border-radius: 50%;
    height: 7px;
    width: 7px;
}

.month-year-padding{
    padding-top: 3rem;
    padding-bottom: 3rem;
    @media screen and (max-width: 768px){
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}

.date-padding{
    padding-left: 1rem;
    padding-right: 1rem;
    @media screen and (max-width: 768px){
     
    }
    @media screen and (max-width: 425px){
    
    }
}

.bullet-margin{
    margin-top: 0.75rem;
    @media screen and (max-width: 768px){
        margin-top: 0;
    }
    @media screen and (max-width: 425px){
       
    }
}