<div class="dialog-wrapper">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <img src="assets/images/login.png">
    </div>
    <div class="col-md-1 row align-items-start">
      <img src="assets/images/ic_close.svg" id="close" (click)="close(false)">
    </div>
    <span class="col-md-12" id="title">Create New Password</span>
    <span class="col-md-10 offset-md-1" id="desc">
      to access your account and data later
    </span>

    <form (keydown.enter)="$event.preventDefault()" [formGroup]="myForm" class="col-md-10 offset-md-1">
      <div class="row col-md-12" id="inputPassword">
        <input [type]="isPasswordVisible.password ? 'text' : 'password'" class="form-control form-control-lg form-control-borderless row col-md-11"
          ngModel required name="password" formControlName="password" placeholder="Password">
        <div class="row col-md-1 justify-content-end">
          <img [src]="isPasswordVisible.password ? 'assets/images/ic_visibility.svg' : 'assets/images/ic_visibility_hidden.svg'"
            (click)="showPassword('password')">
        </div>
      </div>
      <div class="row col-md-12" id="inputPassword">
        <input [type]="isPasswordVisible.confirmPassword ? 'text' : 'password'" class="form-control form-control-lg form-control-borderless row col-md-11"
          ngModel required name="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password"
          (focusin)="hideErrorMessage()" (focusout)="showErrorMessage()">
        <div class="row col-md-1 justify-content-end">
          <img [src]="isPasswordVisible.confirmPassword ? 'assets/images/ic_visibility.svg' : 'assets/images/ic_visibility_hidden.svg'"
            (click)="showPassword('confirmPassword')">
        </div>
      </div>
      <div class="row justify-content-center" id="errorMessage">
        <mat-error *ngIf="myForm.invalid && myForm.errors !== null && myForm.errors.notSame && showError">Password not
          match</mat-error>
      </div>
      <button class="col-md-12" [ngClass]="{
        'enable-button': myForm.valid ,
        'disable-button': myForm.invalid}"
        [disabled]="myForm.invalid" (click)="close(false)">Next</button>

    </form>
  </div>
</div>
