<div style="background-color: white;">
  <div class="row" style="padding-top: 30px;">
    <div class="col page-title mb-3" style="margin-left: 30px;">
      Customize Landing
    </div>
  </div>
</div>
<mat-tab-group>
  <mat-tab label="Testimonies">
    <app-change-home-testimonies></app-change-home-testimonies>
  </mat-tab>
  <mat-tab label="Hot Roles">
    <div class="landing-hot-roles" style="height: 2000px;">
      <div class="col" style="padding-top: 50px;">
        <app-change-home-hotroles [availableRoles]="availableRoles" [hotRoles]="hotRoles"></app-change-home-hotroles>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>