<div class="large-dialog-wrapper">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-end">
      <img src="../../../../../assets/images/ic_close.svg" id="close" (click)="close()" />
    </div>
  </div>
    <div class="row">
      <div class="col-md-12" id="title">
        Edit Collaborators
      </div>
    </div>
    <div class="row margin-card author-list">
      <app-collaborator-card
        class="col-xl-3 col-lg-3 col-md-4 col-sm-6 width-card-col"
        [index]="i"
        *ngFor="let author of authors; let i = index"
        (click)="selectAuthor(i)"
        [author]="author"
        [currentId]="this.currentId"
      >
      </app-collaborator-card>
    </div>
    <div class="row">
      <div class="col-md-6"></div>
      <button class="col" [ngClass]="{'button-disable': this.currentId !== this.data.job.author, 'button-primary': this.currentId === this.data.job.author}" [disabled]="this.currentId !== this.data.job.author" (click)="update()">
        Update
      </button>
    </div>
  </div>
  