@import '../../../../../variables';

.reset-wrapper {
  // background-image: url('/src/assets/images/bg_dialog.svg');
  background-image: url('https://jti-career-uat.au-syd.mybluemix.net/assets/images/bg_dialog.svg');
  background-repeat: no-repeat;
  background-size: 105%;
  background-position-x: -10px;
  background-position-y: -10px;
}
 .button{
   padding: 10px;
 }

.dialog-subtitle-margin{
  margin-left: 3rem;
  margin-right: 3rem;
  @media screen and (max-width: 425px){
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.reset-password-form-margin{
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1.5rem;
  @media screen and (max-width: 425px){
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
  }
}


#login {
  font-family: $font-regular;
  font-style: italic;
  font-weight: normal;
  line-height: 19px;
  font-size: 14px;
  text-align: center;
  color: $color-black;
  mix-blend-mode: normal;
  opacity: 0.7;
  cursor: pointer;
}

#errorMessage {
  font-family: $font-regular;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  font-size: 14px;
  text-align: center;
  color: $color-black;
  mix-blend-mode: normal;
  opacity: 0.7;
  height: 20px;
  margin-bottom: 10px;
}