@import '../../../../../variables';

.wrapper img {
  width: 100%;
}

#title {
  font-family: $font-regular;
  font-style: normal;
  font-weight: 600;
  line-height: 39px;
  font-size: 22px;
  text-align: center;
  color: $color-black;
  margin: 30px 0 16px 0;
  @media screen and (max-width: 768px){
    padding: 0 10px 10px;
    // padding: 0 50px 50px;
  }
  @media screen and (max-width: 425px){
    font-size: 20px;
    margin: 30px 0 0px 0;
  }
}

#desc {
  font-family: $font-regular;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
  color: $color-dark-gray;
  margin-bottom: 25px;
}

.wrapper input {
  background: $color-ghost-white;
  border-radius: 5px;
  font-family: $font-regular;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  font-size: 14px;
  color: $color-black;
  padding: 25px 15px;
}

#inputPassword {
  background: $color-ghost-white;
  margin: 16px 0 15px 0;
  padding-right: 0;
}

#inputPassword div {
  padding: 0;
}

#inputPassword img {
  width: auto;
  cursor: pointer;
}

.wrapper button {
  border-radius: 5px;
  font-family: $font-regular;
  font-style: normal;
  font-weight: bold;
  line-height: 18px;
  font-size: 17px;
  text-align: center;
  padding: 15px;
  color: $color-white;
  margin: 10px 0;
}

#errorMessage {
  font-family: $font-regular;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  font-size: 14px;
  text-align: center;
  color: $color-black;
  mix-blend-mode: normal;
  opacity: 0.7;
  height: 20px;
}

.image-change-password{
  @media screen and (max-width: 768px){
    margin-top: 40px;
  }
  @media screen and (max-width: 425px){
    width: 50%;
    // margin-left: 90px;
  }
}

.pass-visible-img{
  justify-content: end;
  margin-top:10px;
}

.col-pass-form{
  max-width: 83.3%;
  @media screen and (max-width: 768px){
    max-width: 100%;
  }
}