<div class="wrapper">
  <div class="wrapper-inside">
    <div class="row justify-content-between">
      <div class="col-md-5">
        <div class="col-md-12" id="title">Create New Password</div>
        <div class="col-md-10 offset-md-1" id="desc">
          to access your account and data later
        </div>
        <form (keydown.enter)="$event.preventDefault()" [formGroup]="myForm" (ngSubmit)="onSubmit()" class="col-pass-form offset-md-1">
          <div class="row" id="inputPassword">
            <input [type]="isPasswordVisible.password ? 'text' : 'password'" class="col-10 form-control form-control-lg form-control-borderless"
              ngModel required name="password" formControlName="password" placeholder="Password">
            <div class="col-2 pass-visible-img">
              <img [src]="isPasswordVisible.password ? 'assets/images/ic_visibility.svg' : 'assets/images/ic_visibility_hidden.svg'"
                (click)="showPassword('password')">
            </div>
          </div>
          <div class="row" id="inputPassword">
            <input [type]="isPasswordVisible.confirmPassword ? 'text' : 'password'" class="col-10 form-control form-control-lg form-control-borderless"
              ngModel required name="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password"
              (focusin)="hideErrorMessage()" (focusout)="showErrorMessage()">
            <div class="col-2 pass-visible-img">
              <img [src]="isPasswordVisible.confirmPassword ? 'assets/images/ic_visibility.svg' : 'assets/images/ic_visibility_hidden.svg'"
                (click)="showPassword('confirmPassword')">
            </div>
          </div>
          <div class="row justify-content-center" id="errorMessage">
            <ng-container *ngIf="myForm.invalid && myForm.errors !== null">
              <mat-error *ngIf="myForm.errors.notSame && showError">Password
                not match</mat-error>
            </ng-container>

          </div>
          <button class="col-md-12" [ngClass]="{
                    'button-primary': myForm.valid ,
                    'button-disable': myForm.invalid}"
            [disabled]="myForm.invalid" type="submit">Next</button>

        </form>
      </div>
      <div class="col-md-6">
        <img class="image-change-password"src="assets/images/login.png">
      </div>
    </div>

  </div>
</div>
