/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/ngx-toastr/toastr.css";
@import 'variables';
@font-face {
    font-family: IBM-Plex-Sans-Regular;
    src: url(assets/fonts/ibm.plex.sans.regular.ttf);
}

@font-face {
    font-family: IBM-Plex-Sans-Bold;
    src: url(assets/fonts/ibm.plex.sans.bold.ttf);
}

@font-face {
    font-family: IBM-Plex-Sans-Italic;
    src: url(assets/fonts/ibm.plex.sans.italic.ttf);
}

@font-face {
    font-family: IBM-Plex-Sans-Medium;
    src: url(assets/fonts/ibm.plex.sans.medium.ttf);
}

@font-face {
    font-family: IBM-Plex-Sans-Semi-Bold;
    src: url(assets/fonts/ibm.plex.sans.semi.bold.ttf);
}

// * {
//   margin: 0;
//   padding: 0;
// }
html,
body {
    height: 100%;
    overflow-x: hidden;
    background-color: $color-white-smoke;
    .change-home {
        overflow-y: hidden;
    }
}

a {
    cursor: pointer;
}

textarea {
    min-height: 35px;
    resize: none
}

.wrapper {
    background-color: $color-white-smoke;
    padding: 0 50px 40px 50px;
    @media screen and (max-width: 768px) {
        padding: 0 50px 50px;
    }
    @media screen and (max-width: 425px) {
        padding: 0 20px 40px;
    }
}

.wrapper-inside {
    background: $color-white;
    padding: 56px 48px;
    @media screen and (max-width: 768px) {
        padding: 40px 30px 40px 30px;
    }
    @media screen and (max-width: 425px) {
        padding: 20px 20px 30px 20px;
    }
}

// Header and footer padding
@media (min-width: 992px) {
    .navbar-padding {
        padding: 0 100px;
    }
}

// Buttons CSS start here
button {
    border: none;
    border-radius: 5px;
    color: $color-white;
    text-align: center;
}

button:focus {
    outline: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.button-primary {
    background: $color-corn-flower-blue;
    &-outlined {
        border: 2px solid $color-corn-flower-blue;
    }
}

.button-disable {
    background: $color-gainsboro;
    cursor: not-allowed;
}

.button-warning {
    background: $color-pale-violet-red;
}

.button-transparant {
    background: $color-transparant;
    border: 2px solid $color-white;
    &-blue {
        height: 37px;
        background-color: white;
        border: 2px solid $color-corn-flower-blue;
        font-family: $font-medium;
        font-size: 12px;
        font-weight: bold;
        line-height: 18px;
        color: $color-corn-flower-blue;
        @media screen and (max-width: 768px) {
            height: 37px;
            max-width: 150px;
        }
        @media screen and (max-width: 425px) {
            height: 25px;
            max-width: 150px;
            font-size: 12px;
        }
    }
    &-red {
        background: $color-transparant;
        border: 2px solid $color-pale-violet-red;
        border-radius: 5px;
        color: $color-pale-violet-red;
    }
}

.select-button {
    font-family: $font-regular;
    font-style: normal;
    font-weight: bold;
    line-height: 18px;
    font-size: 12px;
    text-align: center;
    color: $color-corn-flower-blue;
    border: 2px solid $color-corn-flower-blue;
    border-radius: 5px;
    /* margin-bottom: 15px; */
    /* width: 100%; */
    background: $color-white;
    @media screen and (max-width: 425px) {
        font-size: 11px;
        border: 1px solid $color-corn-flower-blue;
    }
}

// Job detail page start here
.job-label {
    color: $color-black;
    font-family: $font-medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    @media screen and (max-width: 768px) {
        font-size: 13px;
    }
    @media screen and (max-width: 425px) {
        font-size: 11px;
        line-height: 15px;
    }
}

.job-content {
    color: $color-dim-gray;
    font-family: $font-regular;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    word-wrap: break-word;
    @media screen and (max-width: 768px) {
        font-size: 13px;
    }
    @media screen and (max-width: 425px) {
        font-size: 12px;
        line-height: 20px;
    }
}

// Dialog CSS start here
.mat-dialog-container {
    padding: 0 !important;
}

.dialog-title {
    color: $color-black;
    font-family: $font-medium;
    font-style: normal;
    font-size: 22px;
    text-align: center;
    margin: 25px 0;
}

.dialog-subtitle {
    font-family: $font-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: $color-dark-gray;
}

.dialog-button {
    color: $color-white;
    height: 40px;
    font-family: $font-semi-bold;
    font-size: 17px;
    text-align: center;
    width: 100%;
    @media screen and (max-width: 768px) {
        font-size: 15px;
    }
    @media screen and (max-width: 425px) {
        font-size: 15px;
    }
}

.dialog-error-message {
    color: $color-black;
    font-family: $font-regular;
    font-size: 14px;
    text-align: center;
    // mix-blend-mode: normal;
    opacity: 0.7;
    height: 20px;
    line-height: 0px;
    @media screen and (max-width: 425px) {
        font-size: 11px;
    }
}

.dialog-margin {
    padding: 0 50px;
}

// Steps CSS
.title-steps {
    font-family: 'IBM-Plex-Sans-Regular';
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    color: #FFFFFF;
    height: 40px;
    text-align: center;
    @media screen and (max-width: 768px) {
        font-size: 13px;
    }
    @media screen and (max-width: 425px) {
        font-size: 11px;
    }
}

.desc-steps {
    font-family: 'IBM-Plex-Sans-Regular';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 15px;
    text-align: center;
    padding: 20px 0;
    color: #3D526D;
    @media screen and (max-width: 768px) {
        font-size: 12px;
    }
    @media screen and (max-width: 425px) {
        font-size: 11px;
    }
}

// .status:before {
//   content: "";
//   width: 25px;
//   height: 25px;
//   background-color: #02A9C2;
//   border-radius: 25px;
//   border: none;
//   position: absolute;
//   top: -15px;
//   left: 0;
//   transition: all 200ms ease-in;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-origin: content-box;
//   background-size: 100%;
//   padding: 5px;
//   border: none;
//   transition: all 200ms ease-in;
//   @media screen and (max-width: 425px){
//     font-size: 9px;
//     border-radius: 15px;
//     width: 20px;
//     height: 20px;
//     top: -11px;
//   }
// }
// Form CSS start here
.login-wrapper input {
    background: $color-ghost-white;
    border-radius: 5px;
    color: $color-black;
    font-family: $font-regular;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
}

.form-control-borderless {
    border: none;
    background: $color-ghost-white;
}

.form-control-borderless:focus {
    background: $color-ghost-white;
    box-shadow: none;
    border-color: transparant;
    outline-style: none;
}

.form-bg {
    width: 100%;
    background: $color-ghost-white;
    border: none;
    border-radius: 5px;
    color: $color-dim-gray;
    font-family: $font-regular;
    font-size: 15px;
    outline: none;
    padding: 10px 15px 10px 20px;
    @media screen and (max-width: 768px) {
        font-size: 13px;
        padding: 7px 10px 7px 10px;
    }
    @media screen and (max-width: 425px) {
        font-size: 11px;
        padding: 5px 10px 5px 10px;
    }
}

.form-bg::placeholder {
    color: #b5c1d1
}

.form-bg-ghost {
    width: 100%;
    background: $color-white;
    border: none;
    border-radius: 5px;
    border: 2px solid $color-corn-flower-blue;
    color: $color-black;
    font-family: $font-regular;
    font-size: 15px;
    outline: none;
    padding: 8px 15px 8px 20px;
    @media screen and (max-width: 768px) {
        font-size: 13px;
        padding: 8px 5px 8px 10px;
    }
    @media screen and (max-width: 425px) {
        font-size: 11px;
        padding: 8px 15px 8px 10px;
    }
}

.disabled {
    background-color: $color-lavender-v2;
    cursor: not-allowed;
}

.mat-select-disabled .mat-select-value {
    cursor: not-allowed;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color-dim-gray;
    opacity: 1;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color-dim-gray;
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $color-dim-gray;
}

textarea::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color-dim-gray;
    opacity: 1;
    /* Firefox */
}

textarea:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color-dim-gray;
}

textarea::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $color-dim-gray;
}

input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color-dim-gray;
    opacity: 1;
    /* Firefox */
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color-dim-gray;
}

input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $color-dim-gray;
}

.mat-select-arrow {
    width: 7px !important;
    height: 7px !important;
    border-top: 2px solid #758697 !important;
    border-left: 2px solid #758697 !important;
    border-right: none !important;
    border-bottom: none !important;
    transform: rotate(-135deg);
}

.filter-dot {
    height: 25px;
    width: 25px;
    background-color: $color-ghost-white;
    border-radius: 50%;
    display: inline-block;
}

.filter-dot-selected {
    height: 25px;
    width: 25px;
    background: url('./assets/images/ic_check.svg');
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: 4px;
    background-color: $color-corn-flower-blue;
    border: 4px solid $color-ghost-white;
    border-radius: 50%;
    display: inline-block;
}

.mat-pseudo-checkbox {
    border-radius: 50% !important;
    border: 2px solid $color-ghost-white !important;
    background: $color-ghost-white;
}

.mat-pseudo-checkbox-checked {
    background-color: $color-corn-flower-blue !important;
}

.mat-pseudo-checkbox-checked::after {
    border-left: 1px solid currentColor !important;
    box-sizing: unset !important;
    border-bottom: 1px solid !important;
    top: 4px !important;
    left: 3px !important;
    width: 5px !important;
    height: 2px !important;
}

// Untrack CSS class
.mat-sort-header-arrow {
    color: #88ACDA !important;
}

.dialog-arrow {
    border-color: transparant;
    border-bottom-color: #fff;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    position: absolute;
    top: 37px;
    z-index: 1001;
    height: 0;
    width: 0;
    -webkit-animation: gb__a 25ms;
    animation: gb__a 25ms;
    filter: drop-shadow(0 -2px 1px rgba(0, 0, 0, .05));
}

.backgroundBlur {
    background-color: $color-dark-slate-gray-blur;
}

.dropdown-menu {
    border: none;
}

// Toast CSS start here
.toast-container {
    margin: 85px 10px 0 0;
}

.toast-container .ngx-toastr {
    width: 385px !important;
    border-radius: 5px !important;
    box-shadow: 0 0 12px $color-dark-gray !important;
    margin-bottom: 10px;
}

.toast-title {
    font-family: $font-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: $color-white;
}

.toast-message {
    font-family: $font-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: $color-white;
    margin-top: 5px;
}

.toast-success {
    background-color: $color-corn-flower-blue !important;
    background-image: url("./assets/images/ic_toast_success.svg") !important;
}

.toast-error {
    background-color: $color-pale-violet-red !important;
    background-image: url("./assets/images/ic_toast_error.svg") !important;
}

.toast-close-button {
    background-image: url("./assets/images/ic_toast_close.svg") !important;
    background-repeat: no-repeat !important;
    background-size: 10px !important;
    margin-top: 5px !important;
    span {
        visibility: hidden;
    }
}

.toast-close-button:hover,
.toast-close-button:focus {
    opacity: 1 !important;
}

// Table CSS start here
table {
    overflow-x: auto;
    width: 100%;
}

.tr-pointer {
    cursor: pointer;
}

.tr-odd {
    background-color: $color-ghost-white;
}

.tr-even {
    background-color: $color-snow;
}

.th-custom {
    height: 70px;
    font-family: $font-medium;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 1px;
    padding-right: 15px;
    background-color: $color-sky-blue;
    color: $color-white;
    text-align: center;
    @media only screen and (max-width: 768px) {
        font-size: 12px;
        height: 50px;
    }
    @media only screen and (max-width: 425px) {
        height: 40px;
        font-size: 11px;
    }
}

.th-radius-left {
    border-radius: 5px 0 0 0;
    padding-left: 25px;
    @media screen and (max-width: 425px) {
        padding: 5px 0 5px 15px;
    }
}

.th-radius-right {
    border-radius: 0 5px 0 0;
}

td {
    color: $color-dim-gray;
    font-family: $font-regular;
    font-size: 15px;
    padding: 25px 15px 25px 0;
    @media only screen and (max-width: 768px) {
        font-size: 13px;
    }
    @media only screen and (max-width: 425px) {
        font-size: 11px;
        padding: 5px 0 5px 15px;
    }
}

.td-first {
    padding-left: 25px;
    @media only screen and (max-width: 425px) {
        padding-left: 15px;
    }
}

.td-bold {
    font-family: $font-bold;
    font-size: 15px;
    color: $font-bold;
    @media only screen and (max-width: 768px) {
        font-size: 12px;
    }
    @media only screen and (max-width: 768px) {
        font-size: 12px;
    }
}

.td-negotiable {
    font-family: $font-regular;
    font-size: 14px;
    color: $color-corn-flower-blue;
    @media only screen and (max-width: 768px) {
        font-size: 12px;
    }
}

.td-action {
    // display: flex;
    img {
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
    }
    .button-reject {
        max-height: 31px;
        max-width: 31px;
        border: 2px solid $color-pale-violet-red;
    }
    .dropdown-menu {
        background: $color-white;
        box-shadow: 0 0 10px 5px rgba(192, 192, 192, 0.2);
        margin-left: -65px;
    }
    .dropdown-menu span {
        font-family: $font-regular;
        font-size: 16px;
        text-align: center;
        color: $color-dim-gray;
    }
    .dropdown-menu span:hover {
        font-family: $font-bold;
        cursor: pointer;
    }
    .dropdown-menu span:active {
        background-color: transparent;
    }
}

.td-action-detail {
    .dropdown-menu {
        background: $color-white;
        box-shadow: 0 0 10px 5px rgba(192, 192, 192, 0.2);
    }
    .dropdown-menu span {
        font-family: $font-regular;
        font-size: 16px;
        text-align: center;
        color: $color-dim-gray;
        @media only screen and (max-width: 768px) {
            font-size: 13px;
        }
    }
    .dropdown-menu span:hover {
        font-family: $font-bold;
        cursor: pointer;
    }
    .dropdown-menu span:active {
        background-color: transparent;
    }
    .dropdown-item {
        padding: 10px;
    }
}

// Page Responsivness
// Landing Page
.landing-top-content {
    padding-left: 140px;
    @media screen and (max-width: 768px) {
        padding-left: 30px;
        padding-right: 30px;
    }
    @media screen and (max-width: 425px) {
        padding-left: 40px;
        padding-right: 40px;
    }
    @media screen and (max-width: 375px) {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.landing-top-title {
    color: $color-white;
    font-family: $font-bold;
    font-size: 33px;
    @media screen and (max-width: 768px) {
        font-size: 23px;
    }
    @media screen and (max-width: 425px) {
        font-size: 27px;
    }
    @media screen and (max-width: 375px) {
        font-size: 27px;
    }
}

.search-input {
    background-color: $color-white;
    color: $color-dim-gray;
    font-family: $font-regular;
    font-size: 17px;
    @media screen and (max-width: 768px) {
        font-size: 12px;
    }
}

.landing-top-detail {
    color: $color-dim-gray;
    font-family: $font-regular;
    font-size: 15px;
    line-height: 25px;
    max-width: 500px;
    margin-top:30px;
    @media screen and (max-width: 768px) {
        font-size: 13px;
        line-height: 20px;
        margin-top: 45px;
    }
    
}
@media screen and (max-width: 768px) {
    .landing-top-detail >a {
        color: white;
        font-weight: 700;
        margin-top: 26px;
        font-size: 15px;
    }
}


.landing-top-search {
    max-width: 500px;
    @media screen and (max-width: 768px) {
        max-height: 20px;
    }
    @media screen and (max-width: 425px) {
        max-height: 30px;
    }
}


/* Landing why css start here. */

.landing-why-title {
    color: $color-black;
    font-family: $font-bold;
    font-size: 30px;
    margin: 0 125px 70px;
    @media screen and (max-width: 768px) {
        font-size: 23px;
        margin: 0 0px 40px 30px;
    }
    @media screen and (max-width: 425px) {
        font-size: 27px;
        margin: 0 0px 40px 0px;
        margin-bottom: 30px;
        text-align: center;
    }
}

.landing-why-title-left {
    color: $color-black;
    font-family: $font-bold;
    font-size: 30px;
    width: 80%;
    line-height: 1.2;
    @media screen and (max-width: 768px) {
        font-size: 23px;
        margin: 0px;
    }
    @media screen and (max-width: 425px) {
        font-size: 27px;
        text-align: left;
    }
}

.landing-why-title-right {
    color: $color-black;
    font-family: $font-bold;
    font-size: 30px;
    line-height: 1.2;
    @media screen and (max-width: 768px) {
        font-size: 23px;
        margin: 0px;
    }
    @media screen and (max-width: 425px) {
        font-size: 27px;
        margin: 0px;
        text-align: left;
    }
}

.landing-why-detail {
    color: $color-dim-gray;
    font-family: $font-regular;
    font-size: 15px;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 5px;
    @media screen and (max-width: 768px) {
        line-height: 20px;
        font-size: 12px;
    }
    @media screen and (max-width: 425px) {
        font-size: 12px;
    }
}

.padding-why-left {
    padding: 0 50px 0 140px;
    @media screen and (max-width: 768px) {
        padding: 0 30px 0 50px;
    }
    @media screen and (max-width: 425px) {
        padding: 0px 40px 0px 40px;
    }
}

.padding-why-right {
    padding-right: 150px;
    @media screen and (max-width: 768px) {
        padding-right: 50px;
    }
    @media screen and (max-width: 425px) {
        padding: 0px 40px 0px 40px;
    }
}

.landing-why-image-left {
    position: relative;
    padding: 0 90px;
    @media screen and (max-width: 768px) {
        padding: 0 0px;
    }
}

.landing-why-image-right {
    position: relative;
    padding: 0 90px 0 0;
    @media screen and (max-width: 768px) {
        padding: 0 0px;
    }
}

.button-search-jobs {
    width: 100%;
    background-color: $color-corn-flower-blue;
    color: $color-white;
    font-family: $font-bold;
    font-size: 16px;
    outline: none;
    @media screen and (max-width: 768px) {
        font-size: 13px;
    }
    // @media screen and (max-width: 425px){
    //   font-size: 16px;
    // }
}

.button-login {
    width: 100%;
    background-color: transparent;
    border: 2px solid $color-corn-flower-blue;
    box-sizing: border-box;
    border-radius: 5px;
    color: $color-corn-flower-blue;
    font-family: $font-bold;
    font-size: 16px;
    outline: none;
    @media screen and (max-width: 768px) {
        font-size: 13px;
    }
}

.custom-padding-left {
    padding: 20px 10px 0 15px;
    @media screen and (max-width: 425px) {
        padding: 20px 15px 0 15px;
    }
}

.custom-padding-right {
    padding: 20px 15px 0 10px;
    @media screen and (max-width: 425px) {
        padding: 20px 15px 0 15px;
    }
}


/* Landing testimonial css start here. */

.landing-wave-light-blue {
    background: linear-gradient(to bottom, $color-white 95%, $color-primary 95%);
    width: calc(100vw + 15px);
}

.landing-wave-light-blue-helper {
    width: 100%;
    background-size: cover;
}

.landing-testimonial {
    background-color: $color-primary;
    padding: 70px 100px;
    @media screen and (max-width: 768px) {
        padding: 70px 90px;
    }
}

.testimonial-content {
    color: #000000;
    font-family: 'IBM-Plex-Sans-Regular';
    font-size: 14px;
    line-height: 25px;
    @media screen and (max-width: 768px) {
        font-size: 12px;
        line-height: 18px;
    }
    @media screen and (max-width: 425px) {
        font-size: 12px;
        line-height: 20px;
    }
}

.testimonial-profile {
    color: white;
    font-family: 'IBM-Plex-Sans-Bold';
    font-size: 15px;
    line-height: 25px;
    margin: 30px 0;
    @media screen and (max-width: 768px) {
        margin: 10px 0 30px 0;
        font-size: 12px;
    }
    @media screen and (max-width: 425px) {
        margin: 10px 0 30px 0;
        text-align: center;
        font-size: 12px;
    }
}

.testimonial-profile i {
    font-family: 'IBM-Plex-Sans-Regular';
    font-size: 14px;
    @media screen and (max-width: 768px) {
        font-size: 12px;
    }
    @media screen and (max-width: 425px) {
        text-align: center;
        font-size: 12px;
    }
}

.quote-img-top {
    margin-top: 50px;
    @media screen and (max-width: 768px) {
        margin-top: 0px;
    }
    @media screen and (max-width: 425px) {
        margin-top: 0px;
    }
}


/* Landing hot roles css start here. */

.landing-wave-blue {
    background: linear-gradient(to bottom, $color-primary 95%, $color-steel-blue 95%);
    width: calc(100vw + 15px);
}

.landing-wave-blue-helper {
    width: 100%;
    background-size: cover;
}

.landing-hot-roles {
    background-color: $color-steel-blue;
}

.landing-hot-roles-title {
    color: $color-white;
    font-family: $font-semi-bold;
    font-size: 18px;
    line-height: 43px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.padding-hot-roles {
    padding-left: 140px;
    padding-bottom: 120px;
    @media screen and (max-width: 768px) {
        padding-left: 110px;
    }
    @media screen and (max-width: 425px) {
        padding-left: 40px;
    }
}

.landing-hot-roles-image {
    margin-right: 90px;
    margin-top: -100px;
    float: right;
    @media screen and (max-width: 425px) {
        margin-right: 0px;
        max-width: 50%;
    }
}

// Search Job
.jobs-search {
    background-color: #00D6EA;
    padding: 40px 150px;
    @media screen and (max-width: 768px) {
        padding: 40px 100px;
    }
    @media screen and (max-width: 425px) {
        padding: 30px 30px;
    }
}

.button-search {
    height: 45px;
    background-color: #598CF5;
    color: white;
    font-family: 'IBM-Plex-Sans-Bold';
    font-size: 16px;
    width: 120px;
    /* padding: 0 30px; */
    outline: none;
    border-radius: 0 4px 4px 0 !important;
    @media screen and (max-width: 768px) {
        font-size: 13px;
        width: 100px;
    }
}

.jobs-search-text {
    color: #4C617C;
    font-family: 'IBM-Plex-Sans-Bold';
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
    @media screen and (max-width: 425px) {
        font-size: 20px;
    }
}

.jobs-search-container {
    min-height: calc(100vh - 372px);
    padding-top: 90px;
}

.jobs-search-container img {
    width: 480px;
    @media screen and (max-width: 768px) {
        width: 400px;
    }
    @media screen and (max-width: 425px) {
        width: 300px;
    }
}


/* Jobs container css start here */

.jobs-container {
    background-color: #eff7f8;
    padding: 0 50px 50px;
    @media screen and (max-width: 425px) {
        padding: 0 20px 40px;
    }
}

.jobs-container-detail {
    background-color: white;
    border-radius: 0 0 5px 5px;
    padding: 0 50px 50px;
    @media screen and (max-width: 425px) {
        padding: 0 20px 30px;
    }
}

.jobs-title {
    color: black;
    font-family: 'IBM-Plex-Sans-Semi-Bold';
    font-size: 30px;
    line-height: 38px;
    margin-top: 50px;
    @media screen and (max-width: 768px) {
        font-size: 30px;
        margin-top: 30px;
    }
    @media screen and (max-width: 425px) {
        font-size: 25px;
    }
}

.jobs-count {
    color: #598CF5;
    font-family: 'IBM-Plex-Sans-Regular';
    font-size: 23px;
    @media screen and (max-width: 768px) {
        font-size: 18px;
    }
    @media screen and (max-width: 425px) {
        font-size: 15px;
    }
}

.jobs-chip {
    max-height: 121px;
    overflow: scroll;
    text-align: right;
}

.jobs-chip-clear {
    color: #3D526D;
    cursor: pointer;
    font-family: 'IBM-Plex-Sans-Regular';
    font-size: 14px;
    margin: 0 5px;
    line-height: 52px;
}

.jobs-default-text {
    color: #4C617C;
    font-family: 'IBM-Plex-Sans-Regular';
    font-size: 15px;
    @media screen and (max-width: 768px) {
        font-size: 13px;
    }
    @media screen and (max-width: 425px) {
        font-size: 11px;
    }
}

.jobs-select-value {
    border: none;
    background: url('./assets/images/ic_arrow_bottom.svg');
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: right 3px;
    outline: none;
    padding-right: 18px;
    appearance: none;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    -ms-appearance: none;
    /* Internet explorer */
    color: #4C617C;
    font-family: 'IBM-Plex-Sans-Regular';
    font-size: 15px;
    opacity: 0.7;
    @media screen and (max-width: 768px) {
        font-size: 13px;
    }
    @media screen and (max-width: 425px) {
        font-size: 11px;
    }
}

.jobs-th {
    width: 250px;
    cursor: pointer;
    color: white;
    font-family: 'IBM-Plex-Sans-Medium';
    font-size: 14px;
    padding: 25px 0 25px 40px;
    letter-spacing: 1px;
    @media screen and (max-width: 768px) {
        font-size: 13px;
        padding: 10px 0 10px 20px;
    }
    @media screen and (max-width: 425px) {
        font-size: 11px;
        padding: 5px 0 5px 15px;
    }
}

.jobs-th-radius-left {
    border-radius: 5px 0 0 0;
    width: 20%;
}

.jobs-th-radius-right {
    border-radius: 0 5px 0 0;
}

.jobs-td-bold {
    color: black;
    font-family: 'IBM-Plex-Sans-Bold';
    font-size: 15px;
    line-height: 22px;
    padding: 25px 0 25px 40px;
    @media screen and (max-width: 768px) {
        font-size: 12px;
        padding: 10px 0 10px 20px;
    }
    @media screen and (max-width: 425px) {
        font-size: 10px;
        padding: 5px 0 5px 15px;
    }
}

.jobs-hover:hover {
    border-left: 5px solid #88ACDA;
    padding: 25px 0 25px 40px;
}

.jobs-td {
    color: #4C617C;
    font-family: 'IBM-Plex-Sans-Regular';
    font-size: 15px;
    line-height: 20px;
    padding: 25px 0 25px 40px;
    @media screen and (max-width: 768px) {
        font-size: 13px;
        padding: 10px 0 10px 20px;
    }
    @media screen and (max-width: 425px) {
        font-size: 11px;
        padding: 5px 0 5px 15px;
    }
}

.jobs-td-odd {
    border-left: 5px solid #F6F8FB;
    background-color: #F6F8FB;
}

.jobs-td-even {
    border-left: 5px solid #FBFBFB;
    background-color: #FBFBFB;
}

.jobs-detail {
    margin-top: 1.5rem;
    @media screen and (max-width: 768px) {
        margin-top: 10px
    }
    @media screen and (max-width: 425px) {
        margin-top: 30px
    }
}

.button-action {
    width: 125px;
    height: 30px;
    ;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'IBM-Plex-Sans-Bold';
    font-size: 12px;
    cursor: pointer;
    @media screen and (max-width: 768px) {
        width: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    @media screen and (max-width: 425px) {
        width: 90px;
    }
}

.action-table {
    padding: 0 40px;
    @media screen and (max-width: 768px) {
        padding: 0 20px;
    }
    @media screen and (max-width: 425px) {
        padding: 0 10px;
    }
}

// Pagination Table
.jobs-pagination-on {
    background-color: #88ACDA;
    cursor: pointer;
    color: white;
    margin: 0 0.5px;
    padding: 11px 15px;
    vertical-align: -2px;
    font-size: 14px;
    @media screen and (max-width: 768px) {
        padding: 8px 8px;
    }
    @media screen and (max-width: 425px) {
        font-size: 11px;
        padding: 6px 6px;
    }
}

.jobs-pagination-off {
    background-color: #F2F5FA;
    cursor: pointer;
    color: #4C637B;
    margin: 0 0.5px;
    padding: 11px 15px;
    vertical-align: -2px;
    font-size: 14px;
    @media screen and (max-width: 768px) {
        padding: 8px 8px;
    }
    @media screen and (max-width: 425px) {
        font-size: 11px;
        padding: 6px 6px;
    }
}

.jobs-pagination-arrow-on {
    background-color: #F2F5FA;
    cursor: pointer;
    color: #4C637B;
    margin: 0 0.5px;
    padding: 13px 15px;
    vertical-align: -1px;
    font-size: 11px;
    @media screen and (max-width: 425px) {
        padding: 8px 9px;
    }
}

// Refactor CSS start here
.page-title {
    font-family: $font-medium;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 39px;
    color: $color-black;
    @media screen and (max-width: 425px) {
        font-size: 18px;
    }
}

.page-action-button {
    height: 60px;
    width: 255px;
    font-family: $font-medium;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    @media screen and (max-width: 768px) {
        height: 50px;
        width: 215px;
    }
    @media screen and (max-width: 425px) {
        height: 40px;
        width: 125px;
        font-size: 14px;
    }
}

.section-title {
    font-family: $font-medium;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: $color-dim-gray;
    @media screen and (max-width: 425px) {
        font-size: 14px;
    }
}

.section-label {
    font-family: $font-regular;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: $color-soft-black;
}


/**
 * MatSelectModule:
 * @class mat-select-placeholder
 * @class mat-select-value-text
 * @class mat-option-text
 */

.mat-select-placeholder {
    color: $color-dim-gray;
}

.mat-select-value-text {
    color: $color-dim-gray;
}

.mat-option-text {
    color: $color-dim-gray;
}

.font-medium {
    font-family: $font-medium;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: $color-dark-gray;
}
.white {
    background: #ffffff;
}